/* Style the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Style the track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background:rgb(45, 46, 46);
    border-radius: 10px;
  }
  
  /* Style the handle (scroll thumb) */
  ::-webkit-scrollbar-thumb {
    background: #ADEFD1FF;
    border-radius: 10px;
  }
  
  /* Style the handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00203FFF;
  }
  
html, body{
    margin: 0;
    padding: 0;
    background-color: #00203FFF;
    /* height: 100vh; */
}
.formBox{
    background-color:aliceblue;
    display: flexbox;
    border-radius: 20px;
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
    border: 1px solid silver;
    box-shadow: 0 0 2.5px rgb(182, 235, 244), 0 0 2.5px rgb(195, 227, 240), 0 0 2.5px silver;
    animation: slide-in 1s ease-in forwards;
}


.formBox .country-phone{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.formBox img{
    height: 3rem;
    width: 3rem;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="date"], .formBox select, .phoneInput input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: aliceblue;
}

input[type="time"], select{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    background-color: aliceblue;
}

.phoneInput img{
    height: inherit;
    width: inherit;
}

.phoneInput option{
    cursor: pointer;
}

input[type="radio"], .formBox select, .formBox option{  
    cursor: pointer;
}

label{
    color: rgb(31, 186, 247);
    font-weight: bold;
}

.loginButton, .signupButton{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: rgb(31, 186, 247);
    color: white;
}

.backButton{
    width: fit-content;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    text-decoration: none;
}

.backButton:hover{
    background-color: #00203FFF;
    color: #ADEFD1FF;
}

.loginButton:hover, .signupButton:hover{
    background-color: #f578bb;
    color: black;
}

.gender{
    display: flex;
    justify-content: space-evenly;
}

header{
    text-align: center;
    color: #8298e7;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lineWithText {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.lineWithText::before,
.lineWithText::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #000;
    margin: 0 10px;
}

.lineWithText span {
    font-size: 16px;
    font-weight: bold;
    color: #0ca2bd;
}

.forgotPasswordLink, .signupLink, .loginLink{
    font-size: 1rem;
    color: rgb(37, 37, 41);
    text-align: center;
}

.forgotPasswordLink:hover, .signupLink:hover, .loginLink:hover{
    color: #94a7e9;
}

#loginGoogleButton, #signupGoogleButton{
    display: flex;
    justify-content: center;
}

center{
    margin: 1rem;
    font-size: 1rem;
}


.loginPage, .signupPage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(222,231,255,1) 49%, rgba(141,247,241,1) 100%);

    /* overflow: scroll; */
}

.logoImage{
    width: 20rem;
    height: 20rem;
}

.resendCodeLink{
    background-color:transparent;
    border:none;
    text-decoration:underline;
    cursor:pointer;
}

.resendCodeLink:hover{
    color:#ea3b98;
}

.welcomePage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(133,255,248,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
}

.welcomePage .container .buttons .signupButton, .welcomePage .container .buttons .shopButton{
    background-color: transparent;
    display: inline-block;
    align-items: center;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 15rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    background-color: #f0e5e5b8;
}
.welcomePage .container .buttons .signupButton:hover{
    background-color: #869ef4ee;
}

.welcomePage .container .buttons .shopButton:hover{
    background-color: #fa96cbdc;
}

.welcomePage .container{
    display: flexbox;
    align-items: center;
    justify-content: center;

}

.welcomePage .container .buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.welcomePage .container h1{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3rem;
    color: rgb(31, 186, 247);
}
/* ---------------------------------------------------------------------- */

.mainPageContainer{
    display: flex;
    justify-content: center;
}

.mapContainerStyle{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1
}

.parkContainerStyle {
    left: 0;
    top: 1rem;
    bottom: 1rem;
    border-radius: 1rem;
    /* position:absolute; */
    /* z-index: 1; */
    /* background-color:rgb(0, 217, 255); */
    /* width: 25%; */
    width: inherit;
    height: inherit;
    /* animation: slide-in 1s ease-in forwards; */
    padding: 1rem;
    font-size: 1.5rem;
    /* overflow-y: scroll; */
    font-family:'Times New Roman', Times, serif;
    background-color:#00203FFF;
    color:  #ADEFD1FF;
}

.navigationBox{
    position: absolute;
    /* z-index: 1; */
    /* background-color: #0ec5f367; */
    /* display: flex; */
    /* border-radius: 2rem; */
    /* align-items: center; */
    /* justify-content: space-around;*/
    width: 50%; 
}

.routerBox, .routerInfo{
    display: flex;
    background-color: transparent;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;
    font-size: 1.5rem;
}



@keyframes slide-in {
    from {
        transform: translateX(-25%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.parkingLots{
    display: flex;
    justify-content: space-between;
}

.lot{
    display: flex;
    border-radius: 1rem;
    width: 10rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
}

.profileIcon{
    cursor: pointer;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid transparent
}

.profileIcon:hover{
    border: 1px solid black;
    border-radius: 50%;
}

.profileIcon:active{
    background-color: #ADEFD1FF;
}


.notificationsIcon{
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid transparent
}

.notificationsIcon:hover{
    border: 1px solid black;
    border-radius: 50%;
}

.notificationsIcon:active{
    background-color: #ADEFD1FF;
}

.parkCard{
    margin: 0.5rem;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    cursor: pointer;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.parkCard p{
    margin: 0;
    font-size: 1.5rem;
}
.parkCard:hover{
    color: #ADEFD1FF;
    background-color: #00203FFF;
}

.navigationBar{
    background-color: #0A9396;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.closeButton{
    transform: translate(1000%, 0%);
    width: fit-content;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3rem;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
    color: #00203FFF;
    text-decoration: none;
}

.closeButton:hover{
    color: white;
    background-color: black;
    
}


.navBarButton:hover{
    scale: 1.2;
}

.notificationsBox{
    background-color: rgb(225, 246, 236);
    position: absolute;
}

.notificationCard{
    margin: 0.5rem;
    background-color: #ADEFD1FF;
    color: #00203FFF;
    cursor: pointer;
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    justify-content: space-between;
}